@import "./../../../../../../css/colors.scss";
@import "./../../../../../../css/general.scss";
@import "./../../../../../../css/mixins.scss";

$split-border : 1px solid lighten($secondary-dark, 20%);

@mixin mixer-channel($side){
    padding: 0 5px;
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 3fr 1fr 1fr;
    gap: 0 5px;

    @if $side == "left"{
        border-right: $split-border ;
    }

    .btn-fx{
        @include mixer-button($mixer-primary);
        padding: 6px 6px;
        margin: 5px auto;
        width: 45px;
    }

    .btn-cue{
        @include button--small($secondary);
        @include tooltip(true);
        &:before{
            font-size: 1em;
        }
        &:disabled{
            opacity: 1;
        }
        padding: 0.8em;
        width: 3em;
        margin:  5px 0 0 0;
        grid-row:2;
        align-self: self-start;
        justify-self: center;
        grid-column:2;
        @if $side == "left"{
            grid-column: 1;
        }
    }
    
    .mixer-group{
        border : $split-border;
        border-radius:  2px;
    }

    .knobs-set-1{
        grid-column: 1;
        grid-row:1;
        @if $side == "left"{
            grid-column:2;
        }
    }
    // .knobs-set-2{
    //     grid-column: 2;
    //     grid-row:1;
    //     @if $side == "left"{
    //         grid-column: 1;
    //     }
    // }
    


    .peak-level-meter{
        grid-row: 2 / 4;
        margin: 0 auto;
        margin-top: 3px;
        @if $side == "left"{
            grid-column: 2;
        }
    }

    .group-fx{
        grid-column : 2;
        @if $side == "left"{
            grid-column: 1;
        }
        grid-row: 2 / 4;
        align-self: self-end;
    }
}

@mixin mobile-mixer-channel($side) {
    @media screen and (max-width : $vertical-break-point) {
        border: none;
        grid-template-columns: 1fr 2fr 2fr;
        @if $side == "left"{
            grid-template-columns: 2fr 2fr 1fr;
        }
        grid-template-rows: 70px 70px;

        .knobs-set-1, .knobs-set-2{
            display: flex;
        }
        .mixer-group{
            display: flex;
        }
        .knobs-set-1{
            grid-column: 2;
        }
        .knobs-set-2{
            grid-column: 2;
            grid-row: 2;
        }



        .peak-level-meter{
            grid-column: 1;
            grid-row: 1 / span 2;
            @if $side == "left"{
                grid-column: 3;
            }
        }

        .btn-cue{
            grid-column: 3;
            grid-row: 1;
            justify-self: self-start;
            
 
            @if $side == "left"{
                justify-self: self-end;
                grid-column:1;
                margin-right: 15px;
            } 
            @else {
                margin-left: 15px;
            }
        }

        .group-fx{
            display: block;
            grid-row: 1 / span 2;
            grid-column: 3;
            justify-self: self-start;
            align-self: self-end;
            @if $side == "left"{
                grid-column: 1;
                justify-self: self-end;
            }
            padding: 5px;
        }
    }
    @media screen and (max-width : $vertical-break-point-extra-small) {
        grid-template-columns: 1fr 2fr 2fr 1fr;
        grid-template-rows: 200px ;
        .knobs-set-1, .knobs-set-2, .mixer-group{
            display: block;
        }

        .knobs-set-1{
            grid-column: 2;
            grid-row: 1;
        }
        .knobs-set-2{
            grid-column: 3;
            grid-row: 1;

        }

        .peak-level-meter{
            grid-column: 1;
            grid-row: 1;
            @if $side == "left"{
                grid-column: 4;
            }
        }

        .btn-cue{
            @if $side == "right"{
                grid-column: 4;
            }
        }

        .group-fx{
            display: block;
            grid-row: 1;
            grid-column: 4;
            justify-self: self-start;
            @if $side == "left"{
                grid-column: 1;
                justify-self: self-end;
            }
            padding: 5px;
            align-self: center;
        }
    }
}


.mixer-channel{
    &.channel-A{
        @include mixer-channel(left);
        @include mobile-mixer-channel(left);
    }

    &.channel-B{
        @include mixer-channel(right);
        @include mobile-mixer-channel(right);
    }
}