@import "./../../../../../css/colors.scss";
@import "./../../../../../css/mixins.scss";

.playlist {
    height: 100%;
    background: $primary-dark;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%; 
    @include  scrolls();

    table.playlist-table{
        @include table-std();
        td>.bpm-load-spin{
            @include loading-io-spin();
        }
    }

    .playlist-text-info{
        margin-top: 50px;
        text-align: center;
    }

}

.btn-dest.btn-primary{
    margin: 6px 6px 6px 0;
    padding: 6px 18px;

    &.dest-a{
        @include button($deck-A-primary);
    }

    &.dest-b{
        @include button($deck-B-primary);
    }
}

