@import "./../../../../../css/colors.scss";
@import "./../../../../../css/mixins.scss";

.playlist {
    height: 100%;
    background: $primary-dark;
    overflow-y: auto;
    overflow-x: hidden;

    @include  scrolls();

    table.playlist-table{
        @include table-std();
        td>.bpm-load-spin{
            @include loading-io-spin();
        }
        .btn--play .btn.btn-primary{
            @include std-button();
            display: flex;
        }
    }

    .playlist-text-info{
        margin-top: 50px;
        text-align: center;
    }
    .track-list-table-col.destination{
        display: flex;
        justify-content: space-around;
    }
}

.btn-dest.btn-primary{
    margin: 6px 6px 6px 0;
    padding: 6px 18px;

    &.dest-a{
        @include deck-button($deck-A-primary);
    }

    &.dest-b{
        @include deck-button($deck-B-primary);
    }
}

