@import "css/colors.scss";
@import "css/mixins.scss";

.playlist {
    height: 100%;
    background: $primary-dark;
    overflow-y: auto;
    overflow-x: hidden;

    @include  scrolls();

    table.playlist-table{
        @include table-std();
        td>.bpm-load-spin{
            @include loading-io-spin();
        }
        .btn--play .btn.btn-primary{
            @include std-button();
            display: flex;
        }
    }

    .playlist-text-info{
        margin-top: 50px;
        text-align: center;
    }
    .track-list-table-col.destination{
        display: flex;
        justify-content: space-around;
    }
}

.context-menu{
    &__item{
        color: inherit;
        &:after{
            content: attr(data-deck);
            margin-left: 5px;
            color: #eee;
            background: $primary-dark;
            border: 2px solid $primary-dark;
            padding: 2.5px 5px;
            border-radius: 5px;
        }

        @each $deck, $colors in $deck-colors {
            &--deck-#{$deck}:after{
                border-color: map-get($colors, "primary")
            }
        }
    }
}

.btn-dest.btn-primary{
    margin: 6px 6px 6px 0;
    padding: 6px 18px;

    &.dest-a{
        @include deck-button($deck-A-primary);
    }

    &.dest-b{
        @include deck-button($deck-B-primary);
    }
}

@media screen and (max-width: 772px) {
    td.source, th.source,
    td.quality, th.quality,
    {
        display: none;
    }
}
