@import "./../../../../../../css/colors.scss";
@import "./../../../../../../css/mixins.scss";

.controls{
    &__playback{
        & , & > * {
            display: inline-block;
        }
        .btn{
            &--play{
                margin-left: 2px;
            }
            &--cue{
                font-weight: bold;
            }
        }

        @each $channel, $colors in $deck-colors {
            &--#{$channel} {
                .btn.btn-primary{
                    @include deck-button(map-get($colors, "primary"));
                    &--pressed{
                        background: map-get($colors, "primary");
                        color: map-get($colors, "primary");
                    }
                }
            }
        }
    }
}