.c-switch{
  --width: 30px;
  --height: 15px;
  --slider-color: #626262;
  --slider-checked-color: #626262;
  --thumb-color: white;
  --thumb-hover-color: #cbcbcb;

  padding: 0;
  margin: 0;
  &__checkbox{
    display: none;
    &:checked + span{
      background: var(--slider-checked-color);
      &:after{
        transform: translateX(100%);
      }
    }
  }
  &:hover{
    .c-switch__thumb:after{
    background: var(--thumb-hover-color);
    }
  }
  &__thumb{
    display: block;
    position: relative;
    width: 30px;
    height: 15px;
    background: var(--slider-color);
    border-radius: var(--height);
    &:after{
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      height: var(--height);
      width: var(--height);
      border-radius: var(--height);
      background: var(--thumb-color);
      transform: translateX(0);
      transition: transform .2s ease-in-out;
    }
  }
}

