@import "css/colors.scss";
@import "css/general.scss";

@import "./../../../common/RangeSlider/slider.scss";

.mixer-fader{
  position: relative;
}

.fader {
  .fader.slider {
    @include slider-horizontal(40px);
    @include slider-color($mixer-primary);
  }

  .slider.fader{
    margin-top: 10px;
  }

  .zero-indicator {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: darken($mixer-primary, 20%);
    border: 2px solid $primary-dark;
    position: absolute;
    left: 50%;
    top:0;
    transform: translateX(-50%);
    &.indicator--active {
      background: $mixer-primary;
    }
  }
}
