@import "./../../../../css/colors.scss";
@import "./../../../../css/mixins.scss";

.slider-control-container{
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 30px;

  .slider-control-btn.btn.btn-primary{
    margin: 0.5rem;
    @include button-transparent($primary);
    .icon {
      height: 2.5rem;
      width: 2.5rem;
    }
  }
}
