
$minStyleWidth : 250px;
$animationDuration: 1s;
.carousel-slider-container{
  ul.carousel-slider{
    padding: 10px 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: stretch;

    &.slider-transition--active{
      transition: transform $animationDuration ease 0s;
      -webkit-transition: transform $animationDuration ease 0s;
    }
    //
    *, * > * {
      user-select: none;
      user-drag: none;
      user-select: none;
      -moz-user-select: none;
      -webkit-user-drag: none;
      -webkit-user-select: none;
      -ms-user-select: none;
    }
    li{
      display: flex;
    }
  };
}


:export {
  minSlideWidth : $minStyleWidth;
  animatioDuration: $animationDuration
}