@import "./../../../../../css/colors.scss";
@import "./../../../../../css/mixins.scss";

.rtg__control{
  width: 100%;
  &[data-custom]{
    justify-content: flex-end;
  }
  &__button{
    &.btn.btn-primary{
      @include button--small($primary);
      padding: 6px 12px;
    }
    &--locked.btn.btn-primary{
      cursor: wait;
    }
  }
}
