@import "./../../../../css/colors.scss";

.record-list{
    padding: 0;
    .record-list-item{
        position: relative;
        margin: 20px 0;
        color: white;
        list-style: none;
    }
}