@import "css/colors.scss";
@import "css/mixins.scss";

.record-player-controls_container{
    position: Fixed;
    bottom: 0;
    left:0;
    z-index: 1000;
    background: $secondary-dark;
    border-top: 1px solid $primary-dark;
    box-shadow: 5px 5px 5px 5px $primary-dark;
    width: 100%;

    padding: 5px 0 10px 0;
    

    .record-player-controls{
        display: flex;
        justify-content: space-between;
        align-items: center;
        &>*{
            &:not(:first-of-type){
                margin-left: 10px;
            }
            &:not(:last-of-type){
                margin-right: 10px;
            }
        }
    }
}