@import "./../../../../../../css/colors.scss";
@import "./../../../../../../css/mixins.scss";


@mixin pitch-button($deck-color){
    float : right;
    button{
        @include deck-button($deck-color);
        &.btn.pitch-btn{
            height: 20px;
            line-height: 0;
            font-weight: bold;
            font-size: 14px;
            display: block;
            width: 45px;
            margin: 3px;
            margin-right: 0;
            &.btn-increase {
                margin-top: 0px;
            }
            &.btn-decrease {
                padding-bottom: 10px;
            }
        
        }
    }

}

.pitch-btns-A {
    @include pitch-button($deck-A-primary);
}

.pitch-btns-B {
    @include pitch-button($deck-B-primary);
}