@import "./../../../../../../../../css/colors.scss";
@import "./../../../../../../../../css/general.scss";

$mixer-level-meter-safe: $mixer-level-meter-over;
$mixer-level-meter-cliping: $mixer-level-meter-clipping;

@mixin peak-level-meter-vertical($width){
    width: $width;
    background: $primary-dark;
    display: flex;
    padding: 0.033 * $width;
    justify-content: center;
    .meter-channel{
        
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-start;

        .level-meter-led{
            margin: 0.5px;
            width: 0.3 * $width;
            min-width: 1px;
            height:  3.33%;
            border-radius: 0.1px;
    
            background-color: darken($mixer-level-meter, 30%);
            &:nth-last-of-type(-n+5){
                background-color: darken($mixer-level-meter-safe, 30%);
                &.led--on{
                    background-color: $mixer-level-meter-cliping
                }
            }
    
            &.led--on{
                background-color: $mixer-primary;
            }
        }
    }
}

.peak-level-meter{
    @include peak-level-meter-vertical(30px)
}