@import "./../../../../../../css/colors.scss";
@import "./../../../../../../css/mixins.scss";



.sync-control{
    width: 100%;
    padding: 3px 0;
    line-height: 1;
    display: flex;
    &>.control-mapping__wrapper {
        display: flex;
    }
    button{
        margin-right: 3px;
    }
    &.bar-deck-A{
        button{
            @include deck-sync-button($deck-A-primary);
        }
    }
    &.bar-deck-B{
        button{
            @include deck-sync-button($deck-B-primary);
        }
    }

    .sync-bar{

    }
}