@import "css/colors.scss";
@import "css/mixins.scss";



.sync-control{
    width: calc(100% - 50px);
    height: 100%;
    padding: 3px 0;
    line-height: 1;
    display: flex;
    &--A{
        button.btn.btn-primary{
            @include deck-sync-button($deck-A-primary);
        }
    }
    &--B{
        button.btn.btn-primary{
            @include deck-sync-button($deck-B-primary);
        }
    }

    &__group{
        width: 100%;
        position: relative;
        display: flex;
        margin-right: 1px;
        margin-left: 3px;
    }

    &>.control-mapping__wrapper {
        display: flex;
    }


    .btn--beat-offset {
        position: absolute;
        right: 4px;
    }
}