@import "css/colors.scss";
@import "css/mixins.scss";



.sync-control{
    width: calc(100% - 50px);
    height: 100%;
    padding: 3px 0;
    line-height: 1em;
    display: flex;

    &__group{
        width: 100%;
        position: relative;
        display: flex;
        margin-right: 1px;
        margin-left: 3px;
    }

    &>.control-mapping__wrapper {
        display: flex;
    }


    .beat-offset.btn {
        position: absolute;
        right: 4px;
    }
}