@import "./../../../../css/colors.scss";

@mixin slider($width) {
    $padding-horizontal: 3px;
    $thumb-horizonatl-shift: 4px;

    width: $width;
    background: $secondary-dark ;
    padding: 0 3px;
 
    .slider-area{
        position: relative;
        height: 100%;
        background: $primary-dark;
        .slider-range{
            position: relative;
            margin: 0 auto;
            width: 1px;
            height: calc(100% - 12px);
            top: 6px;
            background: grey;
        }

        .slider-thumb{
            position: absolute;
            height: 14px;
            left: $thumb-horizonatl-shift;
            //top: 50%;
            transform: translateY(-50%);
            width: $width - 2 * ($thumb-horizonatl-shift + $padding-horizontal);
            margin: 0 auto;
            background: white;

            &:after{
                content: "";
                display: block;
                position: absolute;
                width: calc(100% - 2px);
                left: 1px;
                height: 3px;
                background: $primary-dark;
                top: 50%;
                transform: translateY(-50%);

            }
        }
    }
}


.slider{
    @include slider(50px)
}