@import "./../../../css/colors.scss";
@import "./../../common/RangeSlider/slider.scss";

.fader {
  .fader.slider {
    @include slider-horizontal(40px);
    @include slider-color($mixer-primary);
  }

  .zero-indicator {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: darken($mixer-primary, 20%);
    border: 2px solid $primary-dark;
    margin: 0 auto;
    &.indicator--active {
      background: $mixer-primary;
    }
  }
}
