@import "./../../../../../../../css/colors.scss";
@import "./../../../../../../../css/mixins.scss";

.record-time{
    @include block-like-button();
    height: 38px;
    display: flex;

    span{
        font-family: monospace;
        color: $primary;
        font-size: 1.2rem;
        line-height: 1.0rem;
        vertical-align: middle;
        height: 1rem;
    }

    &.record-time--prepering:after{
        top:0;
        left:0;
        width: 100%;
        height: 100%;
        position: absolute;
        content: "";
        border-radius: 2px;
        box-shadow: 0 0 0 1px  red;
        animation: blinking 0.5s infinite alternate ease-in-out;
    }
    
    @keyframes blinking {
        from {opacity: 0;}
        to {opacity: 1;}
    }
    
}