@import "css/colors.scss";
@import "css/mixins.scss";

.recorder{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    padding: 5px;
    padding-left: 25px;
    background: $secondary-dark;
    border-left: 1px solid $primary-dark;
    border-bottom: 1px solid $primary-dark;

    .label{
        @include label();
    }

    .record-name-input{
        @include input();
        flex: 1;
        margin: 0 10px;
        left: 90px;
        user-select: none;
        min-width: 20px;
    }

    .record-time{
        user-select: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &--mobile, &--tablet{
        height: 50px;
        padding-left: 20px;
        button {
            @include button--mobile();
        }
        input{
            height: 28px;

        }
        .record-time{
            height: 28px;
        }
    }
    &--xs{
        .label{
            display: none;
        }
        padding-left: 0;
        button.btn.btn-primary{
            margin-left: 5px;
        }
    }
}