@import "./../../../css/colors.scss";

$track-info-height : 60px;

@mixin spans {

};

@mixin track-info($deck-primary-color){
    height: $track-info-height;
    display: flex;
    margin-bottom: 5px;
    background: $primary-dark;

    .track-info-thumbnail{

        height: $track-info-height;
        width: 80px;
        font-size: 10px;
        margin-right: 10px;
        img{
            height: inherit;
            width: inherit;
        }
    }

    .track-info-description{
        flex-grow: 5;
        padding-right: 5px;
        height: $track-info-height - 10px;
        overflow: hidden;
        span{
            font-weight: bold;
        }
        .track-info-title{

        }
    }


    .track-info-time{

        display: flex;
        flex-direction: column;
        height: $track-info-height;
        justify-content: flex-start;
        padding: 5px 0;
        span{
            text-align: right;
            padding: 0;
            padding-bottom: 5px;
            line-height: 16px;
            font-size: 16px;
            letter-spacing: 2px;
        }
        span.time-left{
            font-size: 18px;
            font-weight: bold;   
        }

        .track-duration{

        }
    }

    .track-info-bpm{
        display: flex;
        flex-direction: column;
        height: $track-info-height;
        width: 60px;
        justify-content: space-between;
        box-sizing: border-box;
        padding: 5px 0;
        span{
            text-align: right;
            padding: 0;
            padding-right : 5px;
            line-height: 14px;
            font-size: 14px;
            width: 60px;
        }
        span.track-bpm-current{
            font-size: 16px;
            font-weight: 600;
        }
        .track-bpm-pitch{

        }
        .track-bpm-init{

        }
    }
}

.track-info{
    &.deck-A{
        @include track-info($deck-A-primary)
    }
    &.deck-B{
        @include track-info($deck-B-primary)
    }
}