@import "./../../../../../../css/colors.scss";
@import "./../../../common/RangeSlider/slider.scss";


@mixin slider-color($deck-color) {
    background: $secondary-dark ;
    .slider-area{
        background: $primary-dark;
        .slider-range{
            background: $deck-color;
        }
        .slider-thumb{
            background: $deck-color;
            border-color: $secondary-dark;
            &:after{
                background: $primary-dark;
            }
        }
    }
}

.pitch{
    display: flex;
    position: relative;
    width: 46px;
    height: auto;
    .slider{
        @include slider-vertical(46px);
    }

    &.pitch-A{
        @include slider-color($deck-A-primary);

    }
    
    &.pitch-B{
        @include slider-color($deck-B-primary);
    }
}

.control-mapping__wrapper > .pitch { height: 100%}
