@import "./../../../../../../css/colors.scss";
@import "./../../../../../../css/mixins.scss";
@import "./../../../../../../css/general.scss";


.mastering{
    position: relative;
    justify-content: space-between;
    display: flex;
    width: 100%;
    height: 70px;
    padding: 5px;
    padding-left: 25px;
    background: $secondary-dark;
    border-bottom: 1px solid $primary-dark;
    align-content: center;


    .label{
        @include label();
    }

    &>.knob-area{
        align-self: center;
       margin: 0 5px;
    }

    .volume-plm{
        margin: 0 10px;
        width: calc(50% - 150px);
        align-self: center;
    }
}

@media (max-width : $vertical-break-point-extra-small) {
    .mastering{
        justify-content: space-between;
        .release-knob, .attack-knob{
            display: none;
        }
        .volume-plm{
            width: calc(50% - 80px);
        }
    }
}