@import "./../../../../css/colors.scss";
@import "./../../../../css/mixins.scss";

.nav-bar{
    width: 100%;
    //border-bottom: 1px solid $primary;

    display: flex;
    justify-content: space-between;



    .main-nav{
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;

        a {
            &, &:hover, &:active, &:visited{
                 cursor: pointer;
                 text-decoration: none;
                 color: $primary-text-color;
                 display: inline-block;
                 height: 100%;
                 vertical-align: middle;
                 line-height: 50px;
                 padding: 0 10px;
                 white-space: nowrap;
                 letter-spacing: 1px;
             }
            &:hover {
                color: $primary;
            }
        }

        .main-nav-item{
            position: relative;
            border-right: 1px solid $primary-dark;
            cursor: pointer;
            &:hover {
                border-bottom: 1px solid $primary;
                &>*{
                    color: $primary;
                }
            }
        }

        .sub-menu{
            position: absolute;
            display: none;
            top:51px;
            right: 0px;
            z-index: 1000;
            background: $secondary-dark;
            border-top: 1px solid $primary;

            list-style: none;
            padding: 0;

            box-shadow: 1px 3px 4px 2px darken($secondary-dark, 5%);
            
            .sub-menu-item{
                &:not(:last-of-type){
                    border-bottom: 1px solid darken($secondary-dark, 5%);
                }

                padding: 10px 15px;
                display: flex;
                border-left: 3px solid transparent;
                &>* {
                    line-height: 1rem;
                }
                &:hover > * {
                    color: $primary;
                }
                &:hover{
                    background: $primary-dark;
                    border-left: 3px solid $primary;
                }
            }
        }


        &.nav-left{
            .nav-left-item{
                &.item-logo{
                    img{
                        height: 50px;
                        padding: 5px 0;
                    }
                    &:hover{
                        border-bottom: none;
                    }
                }
            }
        }


        &.nav-right{
            .nav-right-item{
                display: flex;
                &.item-user{
                    img{
                        padding: 5px;
                        object-fit: scale-down;
                        height: 50px;
                    }
                    h4{
                        margin: 0;
                        font-size: 1rem;
                        line-height: 50px;
                        vertical-align: middle;
                        padding-right: 5px;
                    }
                    padding: 0 10px;
                }

                &.item-user-menu{
                    padding: 0 10px;
                    &:hover{
                        border-bottom: 1px solid $primary;
                        .icon-container .icon{
                            color: $primary;
                        }
                        .sub-menu{
                            display: block;
                        }
                    }
                    .icon-container{
                        height: 50px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        .icon {
                            color: $primary-text-color;
                        }
                    }
                }

                &.item-login{
                    border-left: 1px solid $primary-dark;
                }
            }
        }
    }


}