@import "./peak-level-meter--vertical.scss";

@mixin peak-level-meter-horizontal($height) {
    @include peak-level-meter-vertical(1px);
    width: auto;
    height: $height;
    flex-direction: column;
    padding: 0.05 * $height;
    .meter-channel{
        flex-direction: row;
        .level-meter-led{
            width: 3.33%;
            height: 0.3 * $height;
        }
    }
}

.peak-level-meter--horizontal{
    @include peak-level-meter-horizontal(30px);
}
