@import "css/colors.scss";
@import "css/utils.scss";

@mixin deck($primary-color){
    box-shadow: 0 0 8px 1px rgba(255, 255, 255, .05) inset;
}

@each $deck, $colors in $deck-colors{
    .deck--#{$deck}{
        --deck-color: #{map-get($colors, "primary")};
        --deck-color-secondary: #{map-get($colors, "secondary")};
        --deck-color-rgb: #{toRgb(map-get($colors, "primary"))}
    }
}


.deck{
    padding: 5px 5px 0;
    background: $secondary-dark;
    border: 1px solid;
    position: relative;
    &--A{
        @include deck($deck-A-primary);
    }
    &--B{
        @include deck($deck-B-primary);
    }
    &__group{
        display: flex;
    }
    .player-container{
       // position: relative;
        display: flex;
        justify-content: space-between;
        .player {
          width : calc(100% - 50px)
        }
    }
    
    .controls{
        padding: 5px 0;
    }
    &--collapsed{
        .sync-control,
        .pitch,
        .btn--in-key,
        .player__master{
            display: none;
        }
        .controls{
            &__looper,
            &__pitch,
            .btn--cue{
                display: none;
            }
            &__playback{
                position: absolute;
                bottom: 12.5px;
            }
        }
        .player{
            left: 50px;
        }
    }
}