//@import "./../../../../../css/general.scss";
@import "./../../../../../css/colors.scss";
@import "./../../../../../css/mixins.scss";

.control{
  background: $secondary-dark;
  border-bottom: 1px solid $primary-dark;
  border-right: 1px solid $primary-dark;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 30px;
  padding-right: 15px;

  &__nav{
    &__container{
      position: relative;
      & .control__nav::before{
        //aria around menu witch help to keep menu open
        //if cursor will a little bit deviate from menu
        content: "";
        display: block;
        position: absolute;
        left: -25%;
        top: -50px;
        width: 150%;
        height: calc(100% + 100px);
      }
    }


    &, &__sub{
      @include dropdown-nav();
      [class*="__item"]{
        padding-left: 15px;
        padding-right: 45px;
      }
    }

    & {
      left: 2.5px;
    }
    &__sub{
      left: 100%;
      top: -1px;
      [class*="__item"]{
        padding-left: 35px;
      }
    }

    display: none;

    &--expanded, &__item:hover > &__sub{
      display: block;
    }
    &--expanded{
      display: block;
    }

    &__item{
      position: relative;
      &--current{
        position: relative;
        &:before{
          position: absolute;
          content: "✓";
          left: 10px;

        }
      }
      &--disabled {
        color: rgba($primary-text-color, 0.3)
      }
    }

    &__container{
      position: relative;
    }
    &__button{
      @include std-button();
      position: relative;
      z-index: 10;

      &:hover + ul{
        //display: block;
      }
    }
  }
}

.modal{
  &__content{
    display: flex;
    flex-direction: column;
    &__profile-name[type="text"]{
      width: 100%;
      margin: 0;
    }
    &__confirm-btn[type="button"]{
      align-self: flex-end;
      margin-right: 0;
      letter-spacing: 1px;
    }
  }
}
