@import "./../../../../../css/colors.scss";

.control-mapping{

  &__wrapper{
    position: relative;
  }

  &__layer{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    z-index: 10;
    background: rgba($primary, .2);
    border: 2px solid $primary;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    span{
      text-shadow: 0px 0px 5px rgba(#fff, 0.6);
    }
    &--active{
      display: flex;
    }
    &--current{
      background: rgba($secondary, .2);
      border: 2px solid $secondary;
    }

  }
}