@import "./../../../../../css/colors.scss";
@import "./../../../../../css/mixins.scss";

.control-mapping{

  &__wrapper{
    position: relative;
  }

  &__layer {
    @include tooltip();
    &[data-tooltip]:before{
      //bottom: 100%;
      left: -2px;
      top: -24px;
      white-space: nowrap;
      height: 24px;
      //width: 128px;
      text-align: center;
    }
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    z-index: 10;
    background: rgba($primary, .3);
    border: 2px solid $primary;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    span.value{
      text-shadow: 0px 0px 5px rgba(#fff, 0.6);
      line-height: 1rem;
      background: rgba($primary, 0.8);
    }
    &--active{
      display: flex;
    }
    &--current{
      background: rgba($secondary, .9);
      border: 2px solid $secondary;
      span.value{
        color: white;
        background: $secondary;
        font-weight: 500;
      }
    }
  }

  &__layer:nth-child(3) {
    display: none;
  }

  &__layer {
    &--splitted-horizontal:nth-child(2){
      display: flex;
      width: 50%;
    }
    &--splitted-horizontal:nth-child(3){
      display: flex;
      width: 50%;
      left: 50%;
    }

    &--splitted-vertical:nth-child(2){
      display: flex;
      height: 50%;
    }
    &--splitted-vertical:nth-child(3){
      display: flex;
      height: 50%;
      top: 50%;
    }
  }


}