@import "./../../../../../../css/colors.scss";
@import "./../../../../../../css/mixins.scss";

.controls__pitch{
    float:right;
    @each $channel, $colors in $deck-colors {
        &--#{$channel} {
            .btn.btn-primary{
                @include deck-button(map-get($colors, "primary"));
            }
        }
    }

    .btn{
        &--pitch.btn-primary{
            height: 20px;
            line-height: 0;
            font-weight: bold;
            font-size: 14px;
            display: block;
            width: 45px;
            margin: 3px 0 3px 3px;
        }
        &--increase.btn-primary{
            margin-top: 0;
        }
        &--decrease{
            padding-bottom: 10px;
        }
    }
}