
@import "css/colors.scss";
@import "css/mixins.scss";
@import 'css/utils.scss';


.scale-controls{
  &__button {
    &--zoom-in {
    }

    &--zoom-out {
    }

    margin-right: 1px;
    @include button-flat(var(--deck-color-rgb));
    font-size: .6rem;
    padding: 2px 12px;
  }
}

