@import "./../../../../css/colors.scss";

.loading-bar{
    position: fixed;
    top:0;
    left: 0;
    height: 5px;
    z-index: 1000;
    background-color: $primary;
}

.top-bar{
    background: $secondary-dark;
    border-bottom: 1px solid $primary-dark;
    box-shadow: 0 0 3px 1px darken($secondary-dark, 10%);
    z-index: 2000;
    position: sticky;
    position: -webkit-sticky;
    top:0;
    
    header{
        margin-top: 10px;
    }
}
