@import "./../../../../../css/colors.scss";
@import "./../../../../../css/mixins.scss";

.collapse-button{
  &.btn, & > .btn.btn-primary {
   @include button--small($primary-dark);
    padding: 6px 16px;
    background: $dark-red;
    &.btn--pressed-filed{
      background: $dark-red;
      color: white;
    }
 }

  &.btn, & > .btn.btn-primary {
    &:hover,
    &:hover:active,
    &:hover:focus,
    &:focus:hover,
    &:hover:focus:active{
      border-color: $light-red;
      background: $primary-dark;
      color: white;
      outline: none;
      box-shadow: none;
    }
    &:focus {
      background: $dark-red;
      color: white;
      outline: none;
      box-shadow: none;
    }
  }


  &__wrapper{
    padding: 2px;
    background: $secondary-dark;
  }
  &__icon{

  }
}