@import "css/colors.scss";
@import "css/mixins.scss";
@import "./menu-mixins";

.introduction__menu{
  background: transparent;
  position: relative;
  height: 100%;
  padding-top: 25px;
  z-index: 2;
  font-size: 0.9em;
  @include flexColumn();
  @include squareBox(35px);
  @include leftFillUp();
  &__wrapper{
    @include flexColumn();
    flex: 1;
    overflow: hidden;
    z-index: 1;
  }
  .menu{
    padding: 0;
    border-left: 3px solid $primary;

    &__list{
      margin: 0;
      padding: 0;
      list-style: none;
      &--depth-0>:first-child{
        border-top: none;
      }

      @for $i from 0 through 4 {
        &--depth-#{$i}  > *{
          text-indent: $i * 25px + 25px;
        }
      }
    }

    &__item{
      line-height: 1.5rem;
      color: $secondary-dark;
      border-top: 1px solid lighten($secondary-dark, 20%);

      &:not(.menu__item--catalog) a{
        padding-top: 10px;
        padding-bottom: 10px;
        display: block;
        line-height: 1.5rem;
      }
      &::first-letter{
        text-transform: uppercase;
      }
      & h6, & a {
        &::first-letter{
          text-transform: uppercase;
        }
      }
      &:not(.menu__item--open) > .menu__list {
        display: none;
      }

      &:not(&--catalog):hover {
        background: rgba(0,0,0,0.3);
      }
      &:hover > * , &:hover > * > *{
        color: $dark-red;
      }


      &--last:hover:after{
          z-index: -1;
          content: "";
          display: block;
          width: calc(100% - 3px);
          height: 150px;
          background: rgba(0,0,0,0.3);
          position: absolute;

      }

      &--current:not(:hover) > a,
      &--current:not(:hover) > div > * {
        color: $primary;
      }

      &--catalog {
        position: relative;
        h6{
          margin: 0;
          padding: 10px 0;
          line-height: 1.5rem;
          cursor: pointer;
        }
        i{
          position: absolute;
          width: 10px;
          height: 10px;
          display: block;
          right: 20px;
          top: 20px;
          &:after{
            content: "";
            display: block;
            position: absolute;
            width: 10px;
            height: 10px;
            border: 3px solid white;
            border-top: none;
            border-right: none;
          }
          transform-origin: center;
          transition: transform .3s;
          transform: rotate(-45deg);
        }
      }
      &:not(.menu__item--open) i {
        transform: rotate(45deg);
      }
    }

  }


}

