@import "./../../../../css/colors.scss";
@import "./../../../../css/general.scss";


/*$mixer-level-meter: #4dbcd0;
$mixer-level-meter-cliping: #ee000c;
$mixer-level-meter-safe: #ee8700;*/


.peak-level-meter{
    width: 9px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    margin: 5px;
    margin-bottom: 17px;
    @media  screen and (max-width: $vertical-break-point){
        width: auto;
        flex-direction: row;
        margin-bottom: 5px;

    }
    .level-meter-led{
        margin: 2px;
        width: 5px;
        height: 5px;
        border-radius: 2px;
        background-color: darken($mixer-level-meter, 30%);
        &:nth-last-of-type(-n+5){
            background-color: darken($mixer-level-meter-safe, 30%);
            &.led-on{
                background-color: $mixer-level-meter-safe
            }
        }
        &:nth-last-of-type(-n+3){
            background-color: darken($mixer-level-meter-cliping, 30%);
            &.led-on{
                background-color: $mixer-level-meter-cliping
            }
        }

        &.led-on{
            background-color: $mixer-primary;
        }
    }

}