@import "./../../../css/colors.scss";
@import "./../../../css/mixins.scss";
@import "./../../../css/animations.scss";


.home-intro{
    height: calc(var(--vh) * 100);
    min-height: calc(var(--vh) * 100);
    position: relative;
    svg{
        position: absolute;
        bottom: 0;
        transform: translateY(67%);
    }

    .container{
        height: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    
        .row > .col {

            &>* {
                margin: 10px auto;
                text-align: center;
            }

            &>p{
                margin: 10px;
            }
            h3{
                span{
                    white-space: nowrap;
                }
            }
            h2{
                font-weight: 700;
                span{
                    white-space: nowrap;;
                }
            }
            &>.btn.btn-primary{
                @include std-button();
                margin: 0 auto;
                padding: 1em;
            }
            
        }
        .row:first-of-type{
            padding-top: 70px;

             min-height:  calc(var(--vh) * 40);
            .col{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
        }

        .row:last-of-type{
            @include clearfix();

            max-height: calc(var(--vh) * 50);
            .col{
           
                img{
                    @include showUp(0.8s , 0.6s);
                    position: relative;
                    top:10px;
                    
                    max-width: 90%;
                    max-height: calc(var(--vh) * 50);

                    display: block;
                    
                }
            }
        }
    }
}

@media (max-height : 500px){
    .home-intro{
        height: auto;
    }
}