@import "css/colors.scss";
@import "css/mixins.scss";
@import "./../../../css/animations.scss";


.home-intro{
  //  height: calc(var(--vh) * 100);
    //min-height: calc(var(--vh) * 100);
    position: relative;
    svg{
        position: absolute;
        bottom: 0;
        transform: translateY(65%);
    }

    .container {
        // height: 100%;
        min-height: calc(var(--vh) * 90);
        display: flex;
        justify-content: space-between;
        flex-direction: column;

        .row > .col {

            & > * {
                margin: 10px auto;
                text-align: center;
            }
        }

        .row:first-of-type{
            min-height:  calc(var(--vh) * 40);
            padding-top: 25px;
            .col{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
        }

        .row:last-of-type{
            @include clearfix();
            max-height: calc(var(--vh) * 50);
        }
    }

    &__text {
        margin: 10px;
        letter-spacing: 2px;
    }
    &__subtitle {
        span{
            white-space: nowrap;
        }
    }
    &__title {
        font-weight: 700;
        span{
            white-space: nowrap;;
        }
    }
    &__button.btn.btn-primary{
        @include std-button();
        margin: 0 auto;
        padding: 1em;
    }

    &__laptop{
       // @include showUp(0.8s , 0.6s);
        position: relative;
        top:10px;

        max-width: 90%;
        max-height: calc(var(--vh) * 50);

        display: inline-block;
        object-fit:  contain;
    }


}

@media (max-height : 500px){
    .home-intro{
        height: auto;
    }
}