@import "./../../../../../../../css/colors.scss";
@import "./../../../../../../../css/mixins.scss";


.record-btn{
    &.btn.btn-primary{
        @include mixer-button($mixer-primary);
        &, &:hover, &:active , &:focus{
            color:#C21D17;
        } 

        &.btn--pressed-filed{
            &, &:hover, &:active{
                color:$primary-dark;
                background-color: #C21D17;
                border: 0;
            }
            
        }

        width: 40px;
        margin-left: 10px;
    }
}