@import "css/colors.scss";
@import "css/mixins.scss";


.record-btn{
    &.btn.btn-primary{
        @include mixer-button($mixer-primary);
        &, &:hover, &:active , &:focus{
            color:$light-red;
        } 

        &.btn--pressed-filed{
            &, &:hover, &:active{
                color:$primary-dark;
                background-color: $light-red;
                border: 0;
            }
            
        }

        width: 40px;
        margin-left: 10px;

        &:disabled:hover{
            opacity: 1;
            &:after{
                display: block;
                content: attr(data-tooltip);
                white-space: normal;
                text-align: center;
                width: 250px;
                padding: 10px;
                background: white;
                color: $primary;
                opacity: 1;
                position: absolute;
                top:3px;
                left: 85px;
                border: 2px solid $primary-dark;
                border-radius: 2px;
                z-index: 10000;
            }
        }
        &:disabled:hover:active::after{
            color: $light-red 
        }

    }
}