@import "./../Knob/knob.scss";

@mixin knob-described($color, $size) {

    &.knob-area{
        position: relative;
        width: $size;
        height: $size;
        .knob{
            @include knob($color,  0.65 * $size);
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-55%);
        }

        .knob-text{
            font-size: 0.17  * $size;
            color: darken($primary-text-color, 20%);
            position: absolute;
            left: 50%;
            bottom: -4%;
            transform: translateX(-50%);
            user-select: none;
        }

        $ring-color :lighten($secondary-dark, 10%);
        .knob-ring{
            position: absolute;
            border: 1px $ring-color  solid;
            width: 75%;
            height: 75%;
            border-radius: 50%;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-54%);

            &:after{
                display: block;
                content: "";
                position: absolute;
                bottom:-10%;
                left: 50%;
                transform: translateX(-50%);
                width: 0.4 * $size;
                height: 0.3 * $size;
                background: $secondary-dark;
            }
        }
        .ring-indicators{
            position: relative;
            width: 100%;
            height: 100%;
            .ring-indicator{
                position: absolute;
                left: 0;
                top: 47%;
                height: 2px;
                width: 100%;

                &:after{
                    position: absolute;
                    content: "";
                    display: block;
                    width: 0.08 * $size;
                    height: 0.02 * $size;
                    margin-left: 5%;
                    left: 0;
                    top: 0;
                    background: $ring-color ;
                   //transform: translateY(+50%);
                }
                &:nth-of-type(1),
                &:nth-of-type(6),
                &:nth-of-type(11){
                    &:after{
                        margin-left: 3%;
                        width: 0.11 * $size;
                        height: 0.03 * $size;
                    }
                }

                &:nth-of-type(1){
                    transform: rotate(-55deg);
                }
                &:nth-of-type(2){
                    transform: rotate(-27.5deg);
                }
                &:nth-of-type(3){
                    transform: rotate(0deg);
                }
                &:nth-of-type(4){
                    transform: rotate(30deg);
                }
                &:nth-of-type(5){
                    transform: rotate(60deg);
                }
                &:nth-of-type(6){
                    transform: rotate(90deg);
                    &:after{
                        width: 0.1 * $size;
                    }
                }
                &:nth-of-type(7){
                    transform: rotate(120deg);
                }
                &:nth-of-type(8){
                    transform: rotate(150deg);
                }
                &:nth-of-type(9){
                    transform: rotate(180deg);
                }
                &:nth-of-type(10){
                    transform: rotate(212.5deg);
                }
                &:nth-of-type(11){
                    transform: rotate(232deg);
                }
            }
        }
    }

}