@import "./../../../css/colors.scss";
@import "./../../common/Slider/slider.scss";


@mixin slider-color($deck-color) {
    background: $secondary-dark ;
    .slider-area{
        background: $primary-dark;
        .slider-range{
            background: $deck-color;
        }
        .slider-thumb{
            background: $deck-color;
            border-color: $secondary-dark;
            &:after{
                background: $primary-dark;
            }
        }
    }
}

.pitch{
    display: flex;
    .slider{
        @include slider-vertical(50px);
    }

    &.pitch-A{
        @include slider-color($deck-A-primary);

    }
    
    &.pitch-B{
        @include slider-color($deck-B-primary);
    }
}
