
@import "./general.scss";

@mixin animateBackgroundPosition (){
    @keyframes animateBackgroudPosition {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    };
    @-webkit-keyframes  animateBackgroudPosition {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    };
    animation : animateBackgroudPosition 20s ease-in infinite;
    -webkit-animation: animateBackgroudPosition  20s ease-in infinite ;
}

[data-rosa][data-rosa="show-up"]{
    opacity: 0;
    transition-property: opacity;
    &.rosa-animate{
        opacity: 1;
    }
}

