
$primary-dark : #1b1b1b;
$secondary-dark : #313131;
$tertiary-dark : #616161;
$primary-light : #999999;
$primary-white : #fafafa;

$primary: #4dbcd0;
$secondary: #e6781f;

$primary-text-color: #d4d4d4;
$secondary-text-color: #1b1b1b;


$deck-A-primary: #61cb37;
$deck-A-primary-dark: darken($deck-A-primary, 30%);
:export { 
    deckAPrimary: $deck-A-primary; 
    deckAPrimaryDark : $deck-A-primary-dark
}

$deck-B-primary: #e6781f;
$deck-B-primary-dark: darken($deck-B-primary, 30%);
:export { 
    deckBPrimary: $deck-B-primary; 
    deckBPrimaryDark : $deck-B-primary-dark
}

$mixer-primary: #4dbcd0;
$mixer-knob-primary: #4dbcd0;

$mixer-level-meter: #4dbcd0;
$mixer-level-meter-cliping: #ee000c;
$mixer-level-meter-safe: #ee8700;

// ----

$light-red : #C21D17; 

$error:  #ee000c;
$warning: #e6781f;



@mixin background-primary-gradient() {
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #123b42, #123b42, #06191d);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #123b42, #123b42, #06191d); 
}

@mixin backgorund-secondary-gradient() {
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #123b42, #123b42, #06191d);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #e6781f, #e6781f, #8f460b); 
}