@use "sass:map";

$primary-dark : #1b1b1b;
$secondary-dark : #313131;
$tertiary-dark : #616161;
$primary-light : #999999;
$primary-white : #fafafa;

$primary: #4dbcd0;

$secondary: #e6781f;

$primary-text-color: #d4d4d4;
$secondary-text-color: #1b1b1b;

/////decsks
$deck-A-primary: #61cb37;

$deck-A-primary-dark: darken($deck-A-primary, 30%);
:export { 
    deckAPrimary: $deck-A-primary; 
    deckAPrimaryDark : $deck-A-primary-dark
}

$deck-B-primary: #e6781f;
$deck-B-primary-dark: darken($deck-B-primary, 30%);
:export { 
    deckBPrimary: $deck-B-primary; 
    deckBPrimaryDark : $deck-B-primary-dark
}

$deck-colors : (
    A : (
        primary: #61cb37,
        secondary: darken(#61cb37, 30%)
    ),
    B : (
        primary: #e6781f,
        secondary: darken(#e6781f, 30%)
    )
);

//////mixer

$mixer-primary: #4dbcd0;
$mixer-knob-primary: #4dbcd0;

$mixer-level-meter: #4dbcd0;
$mixer-level-meter-cliping: #ee000c;
$mixer-level-meter-safe: #ee8700;

// ----

$light-red : #C21D17; 
$dark-red: #9d0007;
$error:  #ee000c;
$warning: #e6781f;



