.layout{
    margin: 20px auto;
    .row:nth-of-type(1){
        @media (max-width: 992px){
            .mikser {
                order:2;
            }
        }
    }
    .row:nth-of-type(2){
        .col {
            padding: 0;
        }
    }

    .console.row > div  {
        padding: 0; 
    }
}


@media (min-width: 1400px)
{
    .container-xl {
        max-width: 1400px;
    }
}