
@import "./colors.scss";
@import "./general.scss";
@import "./layout.scss";




.main-container{
    background: $primary-dark;
    min-width: 410px;
    min-height: calc(var(--vh) * 100);
    
    @include background-primary-gradient()
}
