@mixin clearfix() {
    &::after {
      display: block;
      content: "";
      clear: both;
    }
}

@mixin reset(){
    margin: 0;
    padding: 0;
}


@mixin fill(){
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

@mixin flexColumn(){
    display: flex;
    flex-direction: column;
}

@mixin pseudoAbsolute(){
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

@mixin boxShadowNone(){
    &, &:active, &:focus, &:hover,
    &:active:focus, &:hover:focus,
    &:hover:focus, &:active:hover:focus{
        box-shadow: none;
    }
}

@mixin button-transparent($color:""){
    &,
    &:hover,
    &:focus,
    &:active,
    &:hover:focus,
    &:hover:active,
    &:hover:active:focus{
        background: transparent;
        border: none;
        box-shadow: none;
        outline: none;
        &:focus{
            outline: none;
        }
        @if not ($color == "") {
            color: $color;
        }
    }
}

// std button 
@mixin button($color) {
    margin: auto 3px;
    background: $color;
    border-color:$color;
    white-space: nowrap;
    -webkit-box-shadow: none;
    box-shadow: none;
    &:visited{
        background: $color;
        border-color:$color;
    }

    &:hover,  &:focus,  &:active {
        background: $primary-dark;
        border-color: $primary-dark;
    //   -webkit-box-shadow: 0 0 0 0.2rem $color;
    //   box-shadow: 0 0 0 0.2rem $color  ;
        -webkit-box-shadow: none;
        box-shadow: none;
        color: $color;
    }

    &:active:hover , &:active:focus, &:active:focus, &.btn--pressed {
        background: $primary-dark;
    //    border-color: $primary-dark;
    //  -webkit-box-shadow: 0 0 0 0.2rem $color;
    //   box-shadow: 0 0 0 0.2rem $color  ;
        -webkit-box-shadow: none;
        box-shadow: none;
        color: $color;
    }

}

@mixin dark-button($color: $primary){
    @include button($color);
    padding: 8px 12px;
    background: $primary-dark;
    border-color: $color;
    font-weight: 600;
    &:hover,  &:focus,  &:active, &:active:hover , &:focus:active, &:active:focus{
        background: $primary-dark;
        border-color: darken($color, 30%);

      //  -webkit-box-shadow: none;
        box-shadow: 0 0 1px 1px $color;
        color:$color;
    }
    &:focus:hover:active{
        background: $color;
        color: $primary-dark;
    }

    &.btn--pressed-filed{
        background-color: $color;
        color: $primary-dark;
        -webkit-box-shadow: none;
        box-shadow: none;
        -webkit-box-shadow: 0 0 0 1px $primary-dark;
        box-shadow: 0 0 0 1px $primary-dark  ;

    }
}

@mixin deck-button($color){
    @include dark-button($color);

}

@mixin std-button($color : $primary){
    @include deck-button($color);
    &:hover,  &:focus,  &:active &:active:hover , &:focus:active, &:active:focus{
        border-color: white;
    }
    &.btn--active {
        border-color: $secondary;
    }
    font-size: 15px;
    display: block;
}

@mixin mixer-button($color) {
    @include std-button($color);

}

@mixin drop-down-button($color : $primary) {
    @include deck-button($color);
    user-select: none;
    font-size: 15px;
    display: block;



    & + div.dropdown-menu{
        background: $primary-dark;
        user-select: none;
        a.dropdown-item {
            color: $color;
            user-select: none;

        }
    }
}

@mixin button--small($color:$primary){
    @include deck-button($color);
    user-select: none;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 700;
    padding: 3px 10px;
    line-height: 1;
    &.btn-primary{
        &:focus:active, &:active:focus{
            box-shadow: none;
            -webkit-box-shadow: none;
        }
    }

    &.btn--pressed{
        background-color: $color;
        color: $primary-dark;
        -webkit-box-shadow: none;
        box-shadow: none;

    }
}

@mixin deck-sync-button($color){
    @include button--small($color)
}

@mixin block-like-button($color : $primary){
    @include deck-button($color);
    &, &:hover{
        color: white;
        background: $primary-dark;
        border-color:$color;
        -webkit-box-shadow: 0 0 0 1px $color;
         box-shadow: 0 0 0 1px $color;
        border-radius: 2px;
    }

}


@mixin label {
    position: absolute;
    top:0;
    left:0;
    font-size : 9px;
    padding: 4px;
    border-radius: 0;
    margin: 0;
    background: $primary-dark;
    color: $mixer-primary;
    user-select: none;
}


@mixin input($color : ""){
    @if $color == "" {
        $color : $primary;
    }

    @include block-like-button($color);


    &, &:active:focus:hover, &:active ,&:focus{
        background: $primary-dark;
        border:none;
        color : white;
    }

    &:active:focus:hover, &:active ,&:focus{
        box-shadow: 0 0 8px rgba($color, 0.6),  0 0 0 1px $color;  
    }

    & {
        color : $color;
    }
    
    &:disabled {
        border-color: $primary-dark;
        -webkit-box-shadow : none;
        box-shadow: none;
        color:$color;
        user-select: none;

        &::after {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
          }
          
    }

    &:-webkit-autofill,
     &:-webkit-autofill:hover, 
     &:-webkit-autofill:focus{
      //  border: 1px solid $color;
        -webkit-text-fill-color: $secondary;
        -webkit-box-shadow: 0 0 8px rgba($color, 0.6),  0 0 0 1px $color;
        box-shadow: 0 0 8px rgba($color, 0.6),  0 0 0 1px $color;
        font-size: inherit;
        transition: background-color 5000s ease-in-out 0s;
    }
}

@mixin textarea($color: $primary){
    &, &:disabled{
        &, &:active, &:hover, &:focus{
            box-shadow: none;
            color: $primary;
            background: transparent;
            border-radius: 1px;
            border-color: $color;   
        }
    }


}

@mixin checkBox($color: $primary, $text-color: $primary-text-color){
        
        input[type="checkbox"]{
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            position: relative;
            &, &:hover, &:active, &:focus{
                box-shadow: none;
                outline: none;
            }

            &::before{
                content: "";
                display: block;
                opacity: 1;
                width: 20px;
                height: 20px;
                border: 1px solid $color;
                border-radius: 2px;
                background: transparent;
            }
             &:checked:after{
                 content: "";
                 position: absolute;
                 top:1px;
                 left: 6px;
                 display: block;
                 border-style: none solid solid none;
                 border-width: 2px;
                 border-color: $color;
                 width: 8px;
                 height: 12px;
                 transform: rotate(45deg);
             }
        }

        label{
            color: $primary-text-color;
            padding-left: 5px;
        }
}


@mixin bootstrap-switch($color){
    label{
        border: none;
        color: $primary;
        
    }
    .custom-control-input:checked~.custom-control-label::before{
        border-color: $color;
        background-color: $color;
    };
    .custom-control-input:focus~.custom-control-label::before{
        box-shadow: 0 0 4px rgba($color , 0.6), 0 0 0 1px darken($color, 20%);
    }
}

@mixin table-std(){
    width: 100%;
    color: $primary-text-color;
    border-collapse: separate;
    border-spacing: 2px;

    th {
        background: $tertiary-dark;
        padding: 0 5px;
        position: sticky;
        top: 0;
       border-top: 1px solid $primary-dark;
       border-bottom: 1px solid $primary-dark;

        
    }
   td {
       background: $secondary-dark;
       padding: 5px;
       //max-height: 25px;
       //line-height: 25px;
       &.overflow{
           max-width: 0;
           width: 100%;
           white-space: nowrap;
           overflow: hidden;
           text-overflow: ellipsis;
       }
   }
   tr.lowlight{
       color: rgba($primary-text-color, .5);
   }

   tr:hover td{
       background: $tertiary-dark;
   }

   .btn.btn-primary{
     //  @include std-button();
       width: 1.5em;
       height: 1.5em;
       display: flex;
       align-items: center;
       justify-content: center;
       padding: 0.1em;
       &>svg{
           max-height: 0.5em;
           max-width: 0.5em;
       }
   }
}



@mixin scrolls {
    &::-webkit-scrollbar {
        width: 10px;
    }

    &::-webkit-scrollbar-track {
        background: $primary-dark; 
    }

    &::-webkit-scrollbar-thumb {
        background: darken($primary, 30%); 
    }

    &::-webkit-scrollbar-thumb:hover {
        background: $primary;
    }
}

@mixin panel{
    background: $secondary-dark;
    padding: 10px;
    color: $primary-text-color;
    border-radius: 3x;
}

@mixin  panel-border ($amount : 0.3){
    border:1px solid rgba($primary, $amount);
}

@mixin panel-with-border() {
    @include panel();
    @include panel-border();
}

@mixin tooltip($onClick:false){
    position: relative;

    &[data-tooltip]{
        &:before{
            content: attr(data-tooltip);
            display: none;
            position: absolute;
            top: -100%;
            left: 100%;
            background: white;
            color: darken($primary, 20%);
            font-size: 1em;
            letter-spacing: 1px;
            line-height: 1.0em;
            padding: 5px 8px;
            z-index: 5000;

        }
    
        @if $onClick{
            &:hover:active::before{
                display: block;
            }
        } 
        @else {
            &:hover::before{
                display: block;
            }
        }
    }
}

@mixin  loading-io-spin {
    --rl-spin-size: 10px !important;
    --rl-spin-color: #{darken($primary, 30)} !important;
    --rl-spin-scale: 0.3 !important;
    --rl-spin-translate: 20px !important;
    --rl-spin-speed: 1s !important;
    --rl-spin-border: 25px !important;
    transform: translate(-10px, -20px) scale(0.2);
}


@mixin background-primary-gradient() {
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #123b42, #123b42, #06191d);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #123b42, #123b42, #06191d);
}



@mixin backgorund-secondary-gradient() {
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #123b42, #123b42, #06191d);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #e6781f, #e6781f, #8f460b);
}

@mixin section--white{
    background: white;

    p, span, h1, h2, h3, h4, h5, h6, a, a:active, a:visited{
        color :$secondary-text-color;
    }

    a:hover {
        color: darken($primary, 20%)
    }
}

@mixin block-shadow($ratio : 0.2){
    box-shadow: 5px 5px 10px rgba(0 ,0 , 0 , $ratio);
}


@mixin dropdown-nav($top: initial, $left: initial, $right: initial){
    position: absolute;
    top: $top;
    left: $left;
    right: $right;
    display: none;
    z-index: 1000;
    background: $secondary-dark;
    border-top: 1px solid $primary;
    color: $primary-text-color;
    list-style: none;
    padding: 0;
    white-space: nowrap;
    cursor: pointer;
    box-shadow: 1px 3px 4px 2px darken($secondary-dark, 5%);
    line-height: 1rem;

    [class*="__item"]{
        &:not(:last-of-type){
            border-bottom: 1px solid darken($secondary-dark, 5%);
        }

        padding: 10px 15px;
        display: flex;
        border-left: 3px solid transparent;
        white-space: nowrap;
        cursor: pointer;
        &>* {
            line-height: 1rem;
        }
        &:hover > * {
            color: $primary;
        }
        &:hover{
            background: $primary-dark;
            border-left: 3px solid $primary;
        }
    }

    [class*="__item--spacer"]{
        height: 3px;
        background: darken($secondary-dark, 5%);
        margin: 0;
        border: 0;
        outline: 0;
        padding: 0;
        cursor: pointer;
        &:hover{
            background: inherit;
            border: 0;
        }
    }
}

@mixin line-under($offset, $color, $height, $width){
    position: relative;
    display: inline-block;
    &:after{
        content: "";
        position: absolute;
        bottom: -$offset;
        left: 0;
        width: $width;
        height: $height;
        background: $color;
    }
}