@mixin aspect($name, $value){
  .aspect-#{$name}{
    padding-top: $value;
    position: relative;
    & > div{
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }
}

@include aspect("square", 100%);

@for $i from 1 to 9 {
  $value : $i * 10;
  @include aspect($value, $value * 1%)
}

@function toRgb($color){
  @return red($color), green($color), blue($color)
}



@function sassMapToJson($list-map) {
  $list-map-length: length($list-map);
  $iteration: 0;
  $json: '{';

  @each $propName, $propValue in $list-map {

    $json: $json + '"#{$propName}"' + ':';

    $json: $json + '"#{$propValue}"';

    $iteration: $iteration + 1;
    @if ($iteration < $list-map-length) {
      $json: $json + ',';
    }
  }

  $json: $json + '}';

  @return $json;
}