@import "./../../../../../../css/colors.scss";
@import "./../../../../../../css/mixins.scss";

.recorder{
    position: relative;
    display: flex;
    width: 100%;
    height: 70px;
    padding: 5px;
    padding-left: 25px;
    background: $secondary-dark;
    border-left: 1px solid $primary-dark;
    border-bottom: 1px solid $primary-dark;

    .label{
        @include label();
    }

    .record-name-input{
        @include input();
        width : calc(100% - 210px);
        position: absolute;
        top:50%;
        transform: translateY(-50%);
        left: 90px;
        user-select: none;
    }

    .record-time{
        position: absolute;
        right: 5px;
        top: 50%;
        transform: translateY(-50%);
        user-select: none;
    }
}