@import "./../../../../../../../css/colors.scss";
@import "./../../../../../../../css/mixins.scss";


@mixin mini-slider($color, $width, $height) {
    &.slider-container{
        @include block-like-button($color);
        cursor: pointer;
        position: relative;
        display: inline-block;
        vertical-align: middle;
        width: $width;
        height: $height;
        padding: 0;
        overflow: hidden;
        .slider-list{
            transition: transform  .2s ease-in;
            margin: 0;
            display:flex;
            height: 100%;
            align-items: center;
            padding:0;    
            user-select: none;
            list-style-type: none;
            cursor: pointer;
            .slider-list-item{
                flex-basis: 100%;
                flex-grow: 0;
                flex-shrink: 0;
                text-align: center;
                width: 100%;
                white-space: nowrap;
                display: inline-block;
            }
        }

        &:hover{
            .slider-list{
                transform: translateX(-100%);
            }

        }

        .ctr{
            color:$color;
            opacity: 0;
            transition: opacity 0.5s;
            position:absolute;
            top:50%;
            transform: translateY(-50%);
            width: 6px;
            &.ctr-plus{
                right: 10%;
            }
            &.ctr-minus{
                left: 10%;
            }
        }

        &:hover .ctr{
            opacity: 1;
        }
    }

}
