@import "./../../../../../css/colors.scss";
@import "./../../../../../css/mixins.scss";

.effector-channel{
    position: relative;
    display: flex;
    width: 100%;
    height: 67px;
    background: $secondary-dark;
    border: 1px solid;
    border-top: none;
    border-bottom: none;
    padding: 5px;
    padding-left: 25px;
    padding-bottom: 0;

    .label  {
        position: absolute;
        top:0;
        left:0;
        font-size : 9px;
        padding: 4px;
        border-radius: 0;
        margin: 0;
        background: $primary-dark;
        color: $mixer-primary;
        user-select: none;
    }
    

    .effect-selector{
        flex: 1;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-left: 10px;
        .btn-effect-select{
            .btn{
                @include drop-down-button($mixer-primary);
            }
        };
    }


    .effector-param{
        align-self: flex-end;
        display: flex;
        padding-bottom: 2px;
    }
}