@import "./../../../../../css/colors.scss";

.record-player-time {
    background: $secondary-dark;
    opacity: .9;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 999;
    .record-player-time-current, .record-player-time-duration{
        display: inline-block;
        font-size: .7em;
        padding: 2px 6px;
        letter-spacing: 1px;
        &>span{
            line-height: 0.8em;
        }
    }

    .record-player-time-current:after{
        content: "-";
        position: relative;
        left:6px;
    }
    
}
