@import "css/colors.scss";
@import "css/general.scss";

.mixer{
    background: $secondary-dark;
   // width: 300px;
    padding: 5px;
    display: grid;

    .mixer-channel{
        &.channel-A{
            grid-area: channel-a;
        }
        &.channel-B{
            grid-area: channel-b;
        }
    }

    .mixer-fader{
        grid-area: fader;
    }


    &--collapsed{
        grid-template-columns: 1fr  1fr;
        grid-template-areas:
        "channel-a channel-b";
        .mixer-fader {
            display: none;
        }
        padding-bottom: 10px;
    }


    &--xs{
        border-top: 1px solid $primary-dark;
        margin-top: 5px;
        padding-top: 10px;
    }
    &--expanded{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 50px;
        grid-template-areas:
        "channel-a channel-b"
        "fader fader";

        .mixer-channel{
            width: 100%;
        }

        .mixer-fader{
            padding: 0 25%;
        }
    }
    &--tablet{
        padding-top: 5px;
        .mixer-fader{
            padding: 0 35.5%;
        }
    }





}