@import "./../../../css/colors.scss";
@import "./../../../css/general.scss";

@mixin  mixer-chanel($side) {
    display: flex;
    @if $side == left {
        flex-direction: row-reverse;
    }
    .knobs{
        
        display: flex;
        flex-direction: column;
        padding-top: 5px;
        .knob{
            margin: 5px auto;
        }
    }

    .peak-level-meter{

    }
}

@mixin mobile-mixer-channel($revers) {
    @media screen and (max-width : $vertical-break-point) {
        flex-direction: column;
        .knobs{
            flex-direction: row;
            @if $revers {
                flex-direction: row-reverse;
            }
        }   
        @if not $revers{
            .peak-level-meter{
                flex-direction: row-reverse;
                align-content: flex-end;
             
            }
        }

        
    }
}

.mixer-channel{
    &.channel-A{
        @include mixer-chanel(left);
        @include mobile-mixer-channel(false);
    }

    &.channel-B{
        @include mixer-chanel(right);
        @include mobile-mixer-channel(true);
    }
}