@import "./../../css/colors.scss";
@import "./../../css/mixins.scss";

body.page-explorer {
    min-height: 80vh;

    .main-container{
        @include background-primary-gradient();
        position: relative;
        .record-search {
            padding: 0;
            display: block;
            position: relative;
            left: 2.5%;
            width: 95%;
            //transform: translateY(-50%)
        }
    }

    .c-explorer{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        min-height: calc(var(--vh) * 100 - 75px);
        width: 100%;
        &__link{
            margin-top: 50px;
            letter-spacing: 1px;
            text-decoration: underline;
        }
    }

    .top-genres{
        margin-top: 25px;
    }
}

