@import "./../../css/colors.scss";
@import "./../../css/mixins.scss";

body.page-explorer {
    min-height: 80vh;

    .main-container{
        @include background-primary-gradient();
        position: relative;
        .record-search {
            padding: 0;
            position: absolute;
            top: 40%;
            left: 2.5%;
            width: 95%;
            transform: translateY(-50%)
        }
    }
}

.explor{
    min-height: calc(var(--vh) * 80);
}