@import "css/colors";
@import "css/mixins";

.beat-shift{
    position: absolute;
    width: 100%;
    top:0;
    display: flex;
    justify-content: space-between;
    pointer-events: none;
    &__btn, &__btn > button{
      @include button-flat(var(--deck-color-rgb));
      width: clamp(30px, 10%, 50px);
      color: $primary-dark;
      pointer-events: all;
    }
}