@import "css/colors.scss";
@import "css/mixins.scss";

.pitch-range-btn{
  @each $deck, $colors in $deck-colors {
    &--#{$deck} {
      @include button--small(map-get($colors, "primary"));
    }
  }
  &.btn.btn-primary{
    width: 46px;
    margin-right: 0;
    margin-left: 4px;
    &>svg{
      margin-right: 3px;
    }
  }
}