@import "./../../../../css/general.scss";
@import "./../../../../css/colors.scss";
@import "./../../../../css/mixins.scss";

.component{
  &__label{
    @include label();
  }

  .collapse-button{
    &__container{
      position: absolute;
      top: 100%;
      right: -1px;
      @include panel-border(0.2);
      border-top: none;
    }
    &__wrapper{
      border: 1px solid lighten($primary-dark, 5%);
      border-top: none;
      position: relative;
      &:before{
        content: "";
        position: absolute;
        top: -3px;
        width: 100%;
        height: 3px;
        left: 0;
        background: $secondary-dark;
      }
    }
  }
}

.c-scroll-snap-button{
  &__container{
    position: absolute;
    top: 100%;
    @include panel-border(0.2);
    border-top: none;
    left: -1px;
  }
  &__wrapper{
    position: relative;
    z-index: 1;
    &:after{
      content: "";
      position: absolute;
      width: 100%;
      height: calc(100% + 3px);
      border: 1px solid lighten($primary-dark, 5%);
      border-top: none;
      top: -3px;
      left: 0;
      background: $secondary-dark;
      z-index: -1;
    }

  }
}




.console {
  @include panel-border(0.2);
  position: relative;
  margin-top: 25px;
  margin-bottom: 25px;
  display: grid;
  grid-template-columns: calc(50% - 150px) 300px calc(50% - 150px);


  &--expanded{
    grid-template-rows: auto auto auto;
    .configuration{
      grid-column: 1 / span 2;
      grid-row: 1;
      display: flex;
    }
    .recorder{
      grid-column: 3;
      grid-row: 1;
    }
    .effector.ch-1{
      grid-column: 1;
      grid-row: 2;
    }
    .effector.ch-2{
      grid-column: 3;
      grid-row: 2;
    }
    .deck.deck-A {
      grid-column: 1;
      grid-row: 3;
    }
    .deck-B{
      grid-column: 3;
      grid-row: 3;
    }
    .mixer{
      grid-column: 2;
      grid-row: 2 / span 2;
    }
  }

  &--collapsed{
    grid-template-rows: 1fr;
    .configuration,
    .recorder,
    .effector.ch-1,
    .effector.ch-2{
      display: none;
    }
    .deck.deck-A {
      grid-column: 1;
      grid-row: 1;
    }
    .deck-B{
      grid-column: 3;
      grid-row: 1;
    }
    .mixer{
      grid-column: 2;
      grid-row: 1;
    }
  }
}

@media (max-width: $vertical-break-point) {
  
  .console {
    grid-template-columns: auto;
    grid-template-rows: repeat(7,  auto);

    .configuration{
      grid-column: 1;
      grid-row: 1;
    }
    .recorder{
      grid-column: 1;
      grid-row: 2;
    }

    .deck.deck-A {
      grid-column: 1;
      grid-row: 3;
    }
  
    .mixer{
      grid-column: 1;
      grid-row: 4;
    }

    .effector.ch-1{
      grid-column: 1;
      grid-row: 5;
    }
    
    .effector.ch-2{
      grid-column: 1;
      grid-row: 6;
    }

    .deck-B{
      grid-column: 1;
      grid-row: 7;
    }

  }

}

