@import "./../../../../css/colors.scss";
@import "./../../../../css/mixins.scss";

section.home-features{
    @include section--white();
    padding-bottom: 30px;
    
    .line{
        height: 10px;
        width: 20%;
        background:$primary;
        margin: 30px auto;
        display: block;
    }

    .container>.row{
        display: flex;
        justify-content: center;
    }

    &__title{
        font-weight: 800;
        text-align: center;
        padding-bottom: 40px;
        span.light {
            font-weight: 600;
        }
    }

    .feature{
        box-sizing: content-box;
        border: 2px solid transparent;
        height: 100%;
        &__icon{
            position: relative;
            display: flex;
            justify-content: center;
            .icon{
                margin: 40px;
                height: 80px;
                width: 80px;
            }
        }
        &:hover{
            border: 2px solid $primary;
            border-radius: 5px;
        }

        &__title {
            text-align: center;
            font-weight: 800;
        }

        &__text{
            margin-top: 30px;
            text-align: center;
        }

        &__link{
            display: block;
            text-align: center;
            &:after{
                content: ">";
                display: inline-block;
            }
        }

        $column-colors : (
                1 : #e6781f,
                2 : #4dbcd0,
                3 : #61cb37
        );

        @each $col, $color in $column-colors{
            &__col:nth-of-type(#{$col}) .feature__icon {
                color: $color;
            }
        }

        &__col:nth-of-type(2) .feature__icon {
            .icon{
                transform: rotate(90deg);
            }
        }
    }

}