@import "./../../../../../css/colors.scss";

.search-results {

    padding: 0;
    background: white;
    .search-result-list {
        padding: 0;
        .search-list-item{
            padding: 10px;
            display: flex;
            align-items: flex-start;
            border-bottom: 2px solid;
            cursor: pointer;
            &:hover {
                background-color: rgba(0,0,0,0.15);
            }
            .list-item-thumbnails {
                position: relative;
                margin-right: 15px;
                .thumbnail-img {
                    height: 90px;
                    width: 120px;
                }
                .thumbnail-time{
                    padding: 2px 4px;
                    background: rgba(0,0,0,0.5);
                    border-radius: 2px;
                    color: white;
                    position: absolute;
                    bottom: 5px;
                    right: 5px;
                }
            }

            .list-item-details{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }

   

            a,p {
                font-size: .8rem;
            }

            h5 {
                margin-bottom: .3rem;
            }

            h5, p, a {
                color: $secondary-text-color;
            }
        }
    }
}

