@import "css/colors.scss";
@import "css/mixins.scss";

.player{
    --master-height: 150px;
    --slave-height: 50px;
    &--tablet{
        --master-height: 120px;
        --slave-height: 40px;
    }
    &--mobile{
        --master-height: 90px;
        --slave-height: 30px;
    }

    position: relative;
    display: flex;
    flex-direction: column;

    &--tablet, &--mobile{
        &.player-A{
            flex-direction: column-reverse;
            .player__loading{
                top: unset;
                bottom: calc(var(--master-height) / 2 );
                transform: translate(-50%, 50%);
            }
        }
        .player__slave{
            margin: 1px 0;
        }
    }
    &__loading{
        position: absolute;
        left: 50%;
        top: calc(var(--master-height) / 2 );
        transform: translate(-50%, -50%);
        z-index: 500;
        letter-spacing: 1px;
        span{

        }
    }
    &__master, &__slave{
        background: $primary-dark;
    }
    &__master{
        height: var(--master-height);
        overflow: hidden;
        border-top: 1px solid $secondary-dark;
        border-bottom: 1px solid $secondary-dark;
    }
    &__slave{
        height: var(--slave-height);
    }

    &__wrapper{
        position: relative;
    }

    &__warning-overlay{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 10;
        pointer-events: none;
        mix-blend-mode: hue;
        background: $primary;

        animation: .9s cubic-bezier(.6,.01,.16,1) 0s infinite alternate forwards running blinking;
        @keyframes blinking {
            from{
                opacity: 0;
            }
            to{
                opacity: 1;
            }
        }

        &--hidden{
            animation-play-state: paused;
            display: none;
        }
    }

    .scale-controls{
        position: absolute;
        left: 0;
        bottom: 50px;
        z-index: 20;
    }
}

//.modal{
//    &__group{
//        display: flex;
//        justify-content: space-between;
//        align-items: center;
//        &:not(:last-of-type){
//            margin-bottom: 10px;
//            padding-bottom: 15px;
//            border-bottom: 1px solid lighten($secondary-dark, 10);
//        }
//    }
//    &__text{
//        margin: 0 20px 0 0;
//        align-self: flex-end;
//        font-size: 1.0em;
//    }
//    button.btn.btn-primary{
//        font-size: 0.9em;
//        letter-spacing: .5px;
//        margin-left: auto;
//        display: inline;
//    }
//}