
@import "./../../../../../../css/colors.scss";

$master-height: 130px;
$slave-height: 50px;

:export{
    masterHeight: $master-height;
    slaveHeight: $slave-height;
}

.player{
    position: relative;
    width: calc(100% - 50px);
    &__loading{
        position: absolute;
        left: 50%;
        top: $master-height / 2;
        transform: translate(-50%, -50%);
        span{

        }
    }
    &__master, &__slave{
        background: $primary-dark;
    }
    &__master{
        height: $master-height;
        overflow: hidden;
    }
    &__slave{
        height: $slave-height;
        border-top: 1px solid $secondary-dark;
    }
}