@import "css/colors.scss";
@import "css/mixins.scss";

.search{
    margin-top: 20px;
    @include panel-border();

    .search-controls{
        background-color: $secondary-dark;
        padding: 10px 5px;
        display: flex;
        justify-content: space-between;
        &>*{
            display: inline-block;
        }
        .btn-api-select, .btn-max-result-select {
            .btn{
                @include drop-down-button();
                &:after{
                    margin-left: .5em;
                }
                width: 130px;
            }
        }
        .btn-max-result-select {
            .btn {
                width: 80px;
                & + div.dropdown-menu{
                    min-width: 100px;
                }

            }
        }
        
        .btn.btn-search-clear{
            @include std-button($secondary);
            &.btn{
                display: inline-block;
                margin: 0 25px 0 0px;
                vertical-align: top;
            }
        }

        .search-control{
            position: relative;
            &__input{
                @include input();
            }
            &--fail input{
                @include input(red)
            }
            &__spinner{
                @include loading-io-spin();
                &__container{
                    position: absolute;
                    right: 25px;
                    top: 8px;
                }
            }
            flex: 1;
            margin: 0 15px 2px;

        }
        @media screen and(max-width: 772px) {
            flex-wrap: wrap;
            position: relative;
            .search-control {
                order: 3;
                min-width: calc(100% - 15px);
                margin: 10px 5px 10px 0;
            }
            .btn-search-clear{
                order: 4;
                margin-top: 50px;
                min-width: calc(100%);
            }
        }

    }

}
