@import "./../../../../../css/colors.scss";


.player-controls-record-details{
    width: 20%;
    min-width: 100px;
    display: flex;
    flex-direction: column;
    font-size: 0.8em;
    .record-user-nickname{
        
    }
    .record-title{
        color: $primary-text-color;
        width: 100%;
        display: table-cell;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        max-width: 100%;
    }
}