@import "./../../../../css/colors.scss";
@import "./../../../../css/shadows.scss";

.search{
    margin-top: 20px;
    .search-control{
        background: $primary-dark;
        &:hover {
            background: $primary-light;
        }
    
    
        &:focus {
            @include control-outline;
        }
    }
}
