@import "./../../../../css/colors.scss";
@import "./../../../../css/mixins.scss";


.logger{
    margin: 5px auto 20px auto;
    background: $primary-white;
    border-radius: 2px;
    padding: 15px;
    //position: relative;
    box-shadow: 2px 2px 4px 2px rgba(black, 0.1);
    letter-spacing: 1px;
    position: fixed;
    max-width: 50%;
    z-index: 5000;
    bottom: 15px;
    left: 25px;
    &--hidden{
        display: none;
    }
    &--visible{
        scroll-snap-align: start;
    }

    .logger-header{
        font-weight: 600;
        &, & ~ p {
            color: $secondary-dark;
        }
        & ~ ul{
            color: lighten($secondary-dark, 30%)
        }
        &.logger-header-warning{
            &,  & ~ p, &{
            color: $warning;
            };
            & ~ ul{
                color: lighten($warning, 30%)
            }
        }
        &.logger-header-error {
            &{
                color: desaturate($error, 30%);
            };
            & ~ p{
                color: $secondary-text-color;
            }
            & ~ ul{
                color: lighten($error, 30%)
            }
        }
        &.logger-header-debug{
            &, & ~ pre{
            color: $primary;
            };
            & ~ ul{
                color: lighten($primary, 15%)
            }
        }
    }


    .logger-message{
        margin:  0 10px 10px 0;
        font-size: 1em;
    }

    ul.logger-path{
        @include reset();
        list-style: none;
        display: flex;
        li{
           margin-right: 5px;
           &:not(:last-of-type)::after{
               content: "/";
               display: inline;
           }
        }
    }

    .btn-close.btn-primary{
        @include button-transparent();
        color: $primary;
        position: absolute;
        top: 0;
        right: 0;
    }
}