@import "./../../css/colors.scss";
@import "./../../css/mixins.scss";

.user-records{
    padding-bottom: 100px;
    .user-records-top-bar{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        border-bottom: 1px solid $primary;
        margin-top: 75px;
        .title{
            padding: 5px 5px;
            width: 100%;
            margin-bottom: 0;
            letter-spacing: 1px;
            overflow: hidden;
            white-space: nowrap;
            font-size: x-large;
            text-overflow: ellipsis;
            vertical-align: bottom;
        }
    }

    @media screen and(min-width: 420px) {
        .user-records-top-bar{
            flex-wrap: nowrap;
            justify-content: space-between;
            &>div:first-of-type{
                margin-left: auto;
            }
        }
    }
}